<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>benetton</key>
	<true/>
	<key>converse</key>
	<true/>
	<key>flossy</key>
	<true/>
	<key>lacoste</key>
	<true/>
	<key>loreal</key>
	<true/>
	<key>marinarinaldi</key>
	<true/>
	<key>puma</key>
	<true/>
	<key>replay</key>
	<true/>
	<key>adolfodominguez</key>
	<true/>
	<key>bossini</key>
	<true/>
	<key>cat</key>
	<true/>
    <key>caterpillar</key>
    <true/>
	<key>certina</key>
	<true/>
	<key>ck</key>
	<true/>
	<key>clarks</key>
	<true/>
	<key>dcshoes</key>
	<true/>
	<key>debenhams</key>
	<true/>
	<key>diesel</key>
	<true/>
	<key>ecco</key>
	<true/>
	<key>esprit</key>
	<true/>
	<key>fila</key>
	<true/>
	<key>geox</key>
	<true/>
	<key>giordano</key>
	<true/>
	<key>jeanswest</key>
	<true/>
    <key>jeanwest</key>
    <true/>
    <key>koton</key>
	<true/>
	<key>liujo</key>
	<true/>
	<key>mango</key>
	<true/>
	<key>massimodutti</key>
	<true/>
	<key>mido</key>
	<true/>
	<key>nike</key>
	<true/>
	<key>polo</key>
	<true/>
	<key>reebok</key>
	<true/>
	<key>sisley</key>
	<true/>
	<key>adidas</key>
	<true/>
	<key>swatch</key>
	<true/>
	<key>tissot</key>
	<true/>
	<key>tommy</key>
	<true/>
	<key>versace</key>
	<true/>
	<key>zara</key>
	<true/>
</dict>
</plist>
