<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accakappa</key>
	<string>accakappa</string>
	<key>swqrovski</key>
	<string>swqrovski</string>
	<key>ainhoa</key>
	<string>ainhoa</string>
	<key>attraction</key>
	<string>attraction</string>
	<key>milani</key>
	<string>milani</string>
	<key>nsi</key>
	<string>nsi</string>
	<key>renovo</key>
	<string>renovo</string>
	<key>salerm</key>
	<string>salerm</string>
	<key>revlon</key>
	<string>revlon</string>
	<key>thuya</key>
	<string>thuya</string>
	<key>tonymoly</key>
	<string>tonymoly</string>
	<key>Triton</key>
	<string>Triton</string>
	<key>wella</key>
	<string>wella</string>
	<key>storm</key>
	<string>storm</string>
	<key>swisseagle</key>
	<string>swisseagle</string>
	<key>tacs</key>
	<string>tacs</string>
	<key>tefal</key>
	<string>tefal</string>
	<key>timeforce</key>
	<string>timeforce</string>
	<key>toshiba</key>
	<string>toshiba</string>
	<key>underarmour</key>
	<string>underarmour</string>
	<key>viceroy</key>
	<string>viceroy</string>
	<key>violet</key>
	<string>violet</string>
	<key>westar</key>
	<string>westar</string>
	<key>yatas</key>
	<string>yatas</string>
	<key>zarrinporcelan</key>
	<string>zarrinporcelan</string>
	<key>zartab</key>
	<string>zartab</string>
	<key>zeiss</key>
	<string>zeiss</string>
	<key>missdefne</key>
	<string>missdefne</string>
	<key>apadana</key>
	<string>apadana</string>
	<key>arjan</key>
	<string>arjan</string>
	<key>avene</key>
	<string>avene</string>
	<key>azimzadehcarpet</key>
	<string>azimzadehcarpet</string>
	<key>berghoff</key>
	<string>berghoff</string>
	<key>canon</key>
	<string>canon</string>
	<key>dell</key>
	<string>dell</string>
	<key>comfortzone</key>
	<string>comfortzone</string>
	<key>ducray</key>
	<string>ducray</string>
	<key>edox</key>
	<string>edox</string>
	<key>filon</key>
	<string>filon</string>
	<key>galenic</key>
	<string>galenic</string>
	<key>gandyjewelry</key>
	<string>gandyjewelry</string>
	<key>harmony</key>
	<string>harmony</string>
	<key>hitachi</key>
	<string>hitachi</string>
	<key>daewoo.png</key>
	<string>daewoo.png</string>
	<key>hp</key>
	<string>hp</string>
	<key>krups</key>
	<string>krups</string>
	<key>jahan</key>
	<string>jahan</string>
	<key>Jalis</key>
	<string>Jalis</string>
	<key>klorane</key>
	<string>klorane</string>
	<key>laico</key>
	<string>laico</string>
	<key>lee</key>
	<string>lee</string>
	<key>lg</key>
	<string>lg</string>
	<key>mariloubio</key>
	<string>mariloubio</string>
	<key>mashhadzomorodcarpet</key>
	<string>mashhadzomorodcarpet</string>
	<key>midas</key>
	<string>midas</string>
	<key>misseden</key>
	<string>misseden</string>
	<key>moulinex</key>
	<string>moulinex</string>
	<key>movado</key>
	<string>movado</string>
	<key>nilper</key>
	<string>nilper</string>
	<key>pakchoob</key>
	<string>pakchoob</string>
	<key>parmis</key>
	<string>parmis</string>
	<key>payot</key>
	<string>payot</string>
	<key>partiehmozaffarian</key>
	<string>partiehmozaffarian</string>
	<key>peak</key>
	<string>peak</string>
	<key>phyto</key>
	<string>phyto</string>
	<key>qbestgold</key>
	<string>qbestgold</string>
	<key>renefurterer</key>
	<string>renefurterer</string>
	<key>rodania</key>
	<string>rodania</string>
	<key>romanson</key>
	<string>romanson</string>
	<key>rowenta</key>
	<string>rowenta</string>
	<key>royaldish</key>
	<string>royaldish</string>
	<key>sajiran</key>
	<string>sajiran</string>
	<key>sameni</key>
	<string>sameni</string>
	<key>sandoz</key>
	<string>sandoz</string>
	<key>samuelandkevin</key>
	<string>samuelandkevin</string>
	<key>savincarpet</key>
	<string>savincarpet</string>
	<key>seiko</key>
	<string>seiko</string>
	<key>setarehkaviryazd</key>
	<string>setarehkaviryazd</string>
	<key>shafagicarpet</key>
	<string>shafagicarpet</string>
	<key>soleimancarpet</key>
	<string>soleimancarpet</string>
	<key>speedo</key>
	<string>speedo</string>
	<key>rosaclara</key>
	<string>rosaclara</string>
	<key>saucony</key>
	<string>saucony</string>
	<key>sevenpoon</key>
	<string>sevenpoon</string>
	<key>soha</key>
	<string>soha</string>
	<key>spalding</key>
	<string>spalding</string>
	<key>uhlsport</key>
	<string>uhlsport</string>
	<key>umbro</key>
	<string>umbro</string>
	<key>wilson</key>
	<string>wilson</string>
	<key>wish</key>
	<string>wish</string>
	<key>zeroten</key>
	<string>zeroten</string>
	<key>lining</key>
	<string>lining</string>
	<key>lotto</key>
	<string>lotto</string>
	<key>lotus</key>
	<string>lotus</string>
	<key>mac</key>
	<string>mac</string>
	<key>madison</key>
	<string>madison</string>
	<key>mandm</key>
	<string>mandm</string>
	<key>martian</key>
	<string>martian</string>
	<key>michaelkors</key>
	<string>michaelkors</string>
	<key>mikasa</key>
	<string>mikasa</string>
	<key>mizuno</key>
	<string>mizuno</string>
	<key>moog</key>
	<string>moog</string>
	<key>naturallyjojo</key>
	<string>naturallyjojo</string>
	<key>oclock</key>
	<string>oclock</string>
	<key>odm</key>
	<string>odm</string>
	<key>omega</key>
	<string>omega</string>
	<key>one</key>
	<string>one</string>
	<key>orient</key>
	<string>orient</string>
	<key>raymondweil</key>
	<string>raymondweil</string>
	<key>rolex</key>
	<string>rolex</string>
	<key>rotary</key>
	<string>rotary</string>
	<key>elite</key>
	<string>elite</string>
	<key>elysee</key>
	<string>elysee</string>
	<key>emporioarmani</key>
	<string>emporioarmani</string>
	<key>enicar</key>
	<string>enicar</string>
	<key>epos</key>
	<string>epos</string>
	<key>festina</key>
	<string>festina</string>
	<key>fortis</key>
	<string>fortis</string>
	<key>fossil</key>
	<string>fossil</string>
	<key>go</key>
	<string>go</string>
	<key>greenapple</key>
	<string>greenapple</string>
	<key>grovana</key>
	<string>grovana</string>
	<key>hangten</key>
	<string>hangten</string>
	<key>head</key>
	<string>head</string>
	<key>ingersoll</key>
	<string>ingersoll</string>
	<key>jacquesfarel</key>
	<string>jacquesfarel</string>
	<key>jacqueslemans</key>
	<string>jacqueslemans</string>
	<key>kappa</key>
	<string>kappa</string>
	<key>lancaster</key>
	<string>lancaster</string>
	<key>levis</key>
	<string>levis</string>
	<key>361</key>
	<string>361</string>
	<key>alfex</key>
	<string>alfex</string>
	<key>alphasaphir</key>
	<string>alphasaphir</string>
	<key>avalanche</key>
	<string>avalanche</string>
	<key>avat</key>
	<string>avat</string>
	<key>babolat</key>
	<string>babolat</string>
	<key>baleno</key>
	<string>baleno</string>
	<key>bcbg</key>
	<string>bcbg</string>
	<key>calypso</key>
	<string>calypso</string>
	<key>candino</key>
	<string>candino</string>
	<key>casio</key>
	<string>casio</string>
	<key>charlesjourdan</key>
	<string>charlesjourdan</string>
	<key>chicco</key>
	<string>chicco</string>
	<key>citizen</key>
	<string>citizen</string>
	<key>columbia</key>
	<string>columbia</string>
	<key>continental</key>
	<string>continental</string>
	<key>diadora</key>
	<string>diadora</string>
	<key>Dior</key>
	<string>Dior</string>
	<key>doxa</key>
	<string>doxa</string>
	<key>dunlop</key>
	<string>dunlop</string>
	<key>lasposa</key>
	<string>lasposa</string>
	<key>lcman</key>
	<string>lcman</string>
	<key>lcwaikiki</key>
	<string>lcwaikiki</string>
	<key>mavi</key>
	<string>mavi</string>
	<key>montblanc</key>
	<string>montblanc</string>
	<key>ninaricci</key>
	<string>ninaricci</string>
	<key>pacorabanne</key>
	<string>pacorabanne</string>
	<key>prada</key>
	<string>prada</string>
	<key>rihanna</key>
	<string>rihanna</string>
	<key>robertocavalli</key>
	<string>robertocavalli</string>
	<key>salvatoreferragamo</key>
	<string>salvatoreferragamo</string>
	<key>shiseido</key>
	<string>shiseido</string>
	<key>stdupont</key>
	<string>stdupont</string>
	<key>s.t.dupont</key>
	<string>stdupont</string>
	<key>tedlapidus</key>
	<string>tedlapidus</string>
	<key>thierrymugler</key>
	<string>thierrymugler</string>
	<key>tomford</key>
	<string>tomford</string>
	<key>verawang</key>
	<string>verawang</string>
	<key>whitebuffalo</key>
	<string>whitebuffalo</string>
	<key>yvessaintlaurent</key>
	<string>yvessaintlaurent</string>
	<key>DandG</key>
	<string>DandG</string>
	<key>d&amp;g</key>
	<string>DandG</string>
	<key>dandg</key>
	<string>DandG</string>
	<key>davidoff</key>
	<string>davidoff</string>
	<key>dkny</key>
	<string>dkny</string>
	<key>dsquared</key>
	<string>dsquared</string>
	<key>dunhill</key>
	<string>dunhill</string>
	<key>escada</key>
	<string>escada</string>
	<key>fendi</key>
	<string>fendi</string>
	<key>ferrari</key>
	<string>ferrari</string>
	<key>giorgioarmani</key>
	<string>giorgioarmani</string>
	<key>givenchy</key>
	<string>givenchy</string>
	<key>guerlain</key>
	<string>guerlain</string>
	<key>guess</key>
	<string>guess</string>
	<key>hermes</key>
	<string>hermes</string>
	<key>jacquesbogart</key>
	<string>jacquesbogart</string>
	<key>jaguar</key>
	<string>jaguar</string>
	<key>jesusdelpozo</key>
	<string>jesusdelpozo</string>
	<key>kenzo</key>
	<string>kenzo</string>
	<key>juicycouture</key>
	<string>juicycouture</string>
	<key>korloff</key>
	<string>korloff</string>
	<key>lalique</key>
	<string>lalique</string>
	<key>lanvin</key>
	<string>lanvin</string>
	<key>pierrecardin</key>
	<string>pierrecardin</string>
	<key>aigner</key>
	<string>aigner</string>
	<key>alpina</key>
	<string>alpina</string>
	<key>angelschlesser</key>
	<string>angelschlesser</string>
	<key>antoniobanderas</key>
	<string>antoniobanderas</string>
	<key>aramis</key>
	<string>aramis</string>
	<key>axis</key>
	<string>axis</string>
	<key>azzaro</key>
	<string>azzaro</string>
	<key>balmaso</key>
	<string>balmaso</string>
	<key>boss</key>
	<string>boss</string>
	<key>britneyspears</key>
	<string>britneyspears</string>
	<key>burberry</key>
	<string>burberry</string>
	<key>bvlgari</key>
	<string>bvlgari</string>
	<key>cacharel</key>
	<string>cacharel</string>
	<key>caron</key>
	<string>caron</string>
	<key>cartier</key>
	<string>cartier</string>
	<key>ch</key>
	<string>ch</string>
	<key>chanel</key>
	<string>chanel</string>
	<key>chopard</key>
	<string>chopard</string>
	<key>clinique</key>
	<string>clinique</string>
	<key>creed</key>
	<string>creed</string>
	<key>timberland</key>
	<string>timberland</string>
	<key>louiserard</key>
	<string>louiserard</string>
	<key>kennethcole</key>
	<string>kennethcole</string>
	<key>jetset</key>
	<string>jetset</string>
	<key>gfferre</key>
	<string>gfferre</string>
	<key>gant</key>
	<string>gant</string>
	<key>frederiqueconstant</key>
	<string>frederiqueconstant</string>
	<key>cover</key>
	<string>cover</string>
	<key>brosway</key>
	<string>brosway</string>
	<key>atlantic</key>
	<string>atlantic</string>
	<key>andremouche</key>
	<string>andremouche</string>
	<key>alpha</key>
	<string>alpha</string>
	<key>biooil</key>
	<string>biooil</string>
	<key>bio-oil</key>
	<string>biooil</string>
	<key>cerruti1881</key>
	<string>cerruti1881</string>
	<key>cerruti</key>
	<string>cerruti1881</string>
	<key>coccinelle</key>
	<string>coccinelle</string>
	<key>ermenegildozegna</key>
	<string>ermenegildozegna</string>
	<key>zenga</key>
	<string>ermenegildozegna</string>
	<key>h&amp;m</key>
	<string>h&amp;m</string>
	<key>handm</key>
	<string>h&amp;m</string>
	<key>htc</key>
	<string>htc</string>
	<key>huawei</key>
	<string>huawei</string>
	<key>lionofporches</key>
	<string>lionofporches</string>
	<key>samsung</key>
	<string>samsung</string>
	<key>sony</key>
	<string>sony</string>
	<key>zte</key>
	<string>zte</string>
	<key>moreschi</key>
	<string>moreschi</string>
	<key>pull&amp;bear</key>
	<string>pull&amp;bear</string>
	<key>salian</key>
	<string>salian</string>
	<key>acer</key>
	<string>acer</string>
	<key>bailleul</key>
	<string>bailleul</string>
	<key>bioderma</key>
	<string>bioderma</string>
	<key>caudalie</key>
	<string>caudalie</string>
	<key>ego</key>
	<string>ego</string>
	<key>esthederm</key>
	<string>esthederm</string>
	<key>imedeen</key>
	<string>imedeen</string>
	<key>lierac</key>
	<string>lierac</string>
	<key>tiffi</key>
	<string>tiffi</string>
	<key>noreva</key>
	<string>noreva</string>
	<key>nuxe</key>
	<string>nuxe</string>
	<key>uriage</key>
	<string>uriage</string>
	<key>asics</key>
	<string>asics</string>
	<key>vertu</key>
	<string>vertu</string>
	<key>apple</key>
	<string>apple</string>
	<key>ramsey</key>
	<string>ramsey</string>
	<key>blackbuffalo</key>
	<string>blackbuffalo</string>
	<key>kalcharm</key>
	<string>kalcharm</string>
	<key>nader</key>
	<string>nader</string>
	<key>beheshtian</key>
	<string>beheshtian</string>
	<key>jamee</key>
	<string>jamee</string>
	<key>bamboo</key>
	<string>bamboo</string>
	<key>luisaspagnoli</key>
	<string>luisaspagnoli</string>
	<key>gizia</key>
	<string>gizia</string>
	<key>pandora</key>
	<string>pandora</string>
	<key>novinleather</key>
	<string>novincharm</string>
	<key>novincharm</key>
	<string>novincharm</string>
	<key>mashadleather</key>
	<string>mashadleather</string>
	<key>dorsa</key>
	<string>dorsa</string>
	<key>vahid</key>
	<string>vahidcharm</string>
	<key>vahidcharm</key>
	<string>vahidcharm</string>
	<key>maybelline</key>
	<string>maybelline</string>
	<key>garnier</key>
	<string>garnier</string>
	<key>women&apos;secret</key>
	<string>womensecret</string>
	<key>womensecret</key>
	<string>womensecret</string>
	<key>firs</key>
	<string>firs</string>
	<key>lrc</key>
	<string>lrc</string>
	<key>abercrombie&amp;fitch</key>
	<string>abercrombie</string>
	<key>abercrombie</key>
	<string>abercrombie</string>
	<key>ecut</key>
	<string>ecut</string>
	<key>hacoupian</key>
	<string>hacoupian</string>
	<key>gerad</key>
	<string>gerad</string>
	<key>daniellee</key>
	<string>daniellee</string>
	<key>skechers</key>
	<string>skechers</string>
	<key>salomon</key>
	<string>salomon</string>
	<key>atomic</key>
	<string>atomic</string>
	<key>arc&apos;teryx</key>
	<string>arcteryx</string>
	<key>arcteryx</key>
	<string>arcteryx</string>
	<key>suunto</key>
	<string>suunto</string>
	<key>thule</key>
	<string>thule</string>
	<key>pronovias</key>
	<string>pronovias</string>
	<key>hamilton</key>
	<string>hamilton</string>
	<key>rado</key>
	<string>rado</string>
	<key>benetton</key>
	<string>benetton</string>
	<key>boggi</key>
	<string>boggi</string>
	<key>springfield</key>
	<string>springfield</string>
	<key>converse</key>
	<string>converse</string>
	<key>flossy</key>
	<string>flossy</string>
	<key>l&apos;oreal</key>
	<string>loreal</string>
	<key>loreal</key>
	<string>loreal</string>
	<key>lacoste</key>
	<string>lacoste</string>
	<key>marinarinaldi</key>
	<string>marinarinaldi</string>
	<key>puma</key>
	<string>puma</string>
	<key>replay</key>
	<string>replay</string>
	<key>adolfodominguez</key>
	<string>adolfodominguez</string>
	<key>bossini</key>
	<string>bossini</string>
	<key>cat</key>
	<string>cat</string>
	<key>caterpillar</key>
	<string>caterpillar</string>
	<key>certina</key>
	<string>certina</string>
	<key>ck</key>
	<string>ck</string>
	<key>clarks</key>
	<string>clarks</string>
	<key>dcshoes</key>
	<string>dcshoes</string>
	<key>debenhams</key>
	<string>debenhams</string>
	<key>diesel</key>
	<string>diesel</string>
	<key>ecco</key>
	<string>ecco</string>
	<key>esprit</key>
	<string>esprit</string>
	<key>fila</key>
	<string>fila</string>
	<key>geox</key>
	<string>geox</string>
	<key>giordano</key>
	<string>giordano</string>
	<key>jeanswest</key>
	<string>jeanswest</string>
	<key>jeanwest</key>
	<string>jeanwest</string>
	<key>koton</key>
	<string>koton</string>
	<key>liujo</key>
	<string>liujo</string>
	<key>mango</key>
	<string>mango</string>
	<key>massimodutti</key>
	<string>massimodutti</string>
	<key>mido</key>
	<string>mido</string>
	<key>nike</key>
	<string>nike</string>
	<key>polo</key>
	<string>polo</string>
	<key>reebok</key>
	<string>reebok</string>
	<key>sisley</key>
	<string>sisley</string>
	<key>adidas</key>
	<string>adidas</string>
	<key>swatch</key>
	<string>swatch</string>
	<key>tissot</key>
	<string>tissot</string>
	<key>tommy</key>
	<string>tommy</string>
	<key>versace</key>
	<string>versace</string>
	<key>zara</key>
	<string>zara</string>
</dict>
</plist>
