<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pierrecardin</key>
	<string>pierrecardin</string>
	<key>biooil</key>
	<string>biooil</string>
	<key>acer</key>
	<string>acer</string>
	<key>bailleul</key>
	<string>bailleul</string>
	<key>bioderma</key>
	<string>bioderma</string>
	<key>caudalie</key>
	<string>caudalie</string>
	<key>ego</key>
	<string>ego</string>
	<key>esthederm</key>
	<string>esthederm</string>
	<key>imedeen</key>
	<string>imedeen</string>
	<key>lierac</key>
	<string>lierac</string>
	<key>tiffi</key>
	<string>tiffi</string>
	<key>noreva</key>
	<string>noreva</string>
	<key>nuxe</key>
	<string>nuxe</string>
	<key>uriage</key>
	<string>uriage</string>
	<key>asics</key>
	<string>asics</string>
	<key>vertu</key>
	<string>vertu</string>
	<key>apple</key>
	<string>apple</string>
	<key>ramsey</key>
	<string>ramsey</string>
	<key>blackbuffalo</key>
	<string>blackbuffalo</string>
	<key>kalcharm</key>
	<string>kalcharm</string>
	<key>nader</key>
	<string>nader</string>
	<key>beheshtian</key>
	<string>beheshtian</string>
	<key>jamee</key>
	<string>jamee</string>
	<key>bamboo</key>
	<string>bamboo</string>
	<key>luisaspagnoli</key>
	<string>luisaspagnoli</string>
	<key>gizia</key>
	<string>gizia</string>
	<key>pandora</key>
	<string>pandora</string>
	<key>novinleather</key>
	<string>novincharm</string>
	<key>mashadleather</key>
	<string>mashadleather</string>
	<key>dorsa</key>
	<string>dorsa</string>
	<key>vahid</key>
	<string>vahidcharm</string>
	<key>maybelline</key>
	<string>maybelline</string>
	<key>garnier</key>
	<string>garnier</string>
	<key>women&apos;secret</key>
	<string>womensecret</string>
	<key>firs</key>
	<string>firs</string>
	<key>lrc</key>
	<string>lrc</string>
	<key>abercrombie&amp;fitch</key>
	<string>abercrombie</string>
	<key>ecut</key>
	<string>ecut</string>
	<key>hacoupian</key>
	<string>hacoupian</string>
	<key>gerad</key>
	<string>gerad</string>
	<key>daniellee</key>
	<string>daniellee</string>
	<key>skechers</key>
	<string>skechers</string>
	<key>salomon</key>
	<string>salomon</string>
	<key>atomic</key>
	<string>atomic</string>
	<key>arc&apos;teryx</key>
	<string>arcteryx</string>
	<key>suunto</key>
	<string>suunto</string>
	<key>thule</key>
	<string>thule</string>
	<key>pronovias</key>
	<string>pronovias</string>
	<key>hamilton</key>
	<string>hamilton</string>
	<key>rado</key>
	<string>rado</string>
	<key>benetton</key>
	<string>benetton</string>
	<key>boggi</key>
	<string>boggi</string>
	<key>springfield</key>
	<string>springfield</string>
	<key>converse</key>
	<string>converse</string>
	<key>flossy</key>
	<string>flossy</string>
	<key>l&apos;oreal</key>
	<string>loreal</string>
	<key>lacoste</key>
	<string>lacoste</string>
	<key>marinarinaldi</key>
	<string>marinarinaldi</string>
	<key>puma</key>
	<string>puma</string>
	<key>replay</key>
	<string>replay</string>
	<key>adolfodominguez</key>
	<string>adolfodominguez</string>
	<key>bossini</key>
	<string>bossini</string>
	<key>cat</key>
	<string>cat</string>
	<key>caterpillar</key>
	<string>caterpillar</string>
	<key>certina</key>
	<string>certina</string>
	<key>ck</key>
	<string>ck</string>
	<key>clarks</key>
	<string>clarks</string>
	<key>dcshoes</key>
	<string>dcshoes</string>
	<key>debenhams</key>
	<string>debenhams</string>
	<key>diesel</key>
	<string>diesel</string>
	<key>ecco</key>
	<string>ecco</string>
	<key>esprit</key>
	<string>esprit</string>
	<key>fila</key>
	<string>fila</string>
	<key>geox</key>
	<string>geox</string>
	<key>giordano</key>
	<string>giordano</string>
	<key>jeanswest</key>
	<string>jeanswest</string>
	<key>jeanwest</key>
	<string>jeanwest</string>
	<key>koton</key>
	<string>koton</string>
	<key>liujo</key>
	<string>liujo</string>
	<key>mango</key>
	<string>mango</string>
	<key>massimodutti</key>
	<string>massimodutti</string>
	<key>mido</key>
	<string>mido</string>
	<key>nike</key>
	<string>nike</string>
	<key>polo</key>
	<string>polo</string>
	<key>reebok</key>
	<string>reebok</string>
	<key>sisley</key>
	<string>sisley</string>
	<key>adidas</key>
	<string>adidas</string>
	<key>swatch</key>
	<string>swatch</string>
	<key>tissot</key>
	<string>tissot</string>
	<key>tommy</key>
	<string>tommy</string>
	<key>versace</key>
	<string>versace</string>
	<key>zara</key>
	<string>zara</string>
</dict>
</plist>
